@font-face {
  font-family: 'RoyalAcidOutline';
  src:
    local('RoyalAcidOutline'),
    url(./fonts/RoyalAcidOutline.ttf) format('truetype');
}

@font-face {
  font-family: 'ComicNeueSans';
  src:
    local('ComicNeueSans'),
    url(./fonts/ComicNeueSans.ttf) format('truetype');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'ComicNeueSans';
  background-color: #f0f8ff;
}

input,
input::placeholder {
  font-family: 'ComicNeueSans';
}

button {
  font-family: 'ComicNeueSans';
  color: black;
}

p {
  text-align: justify;
  text-justify: inter-word;
  opacity: 0.9;
}
